<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findpassword</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/findpassword.css">
    <script src="/js/findpassword.js"></script>
</head>
<body id="find-password">
<main id="main-content">

    <div id="password-find-container">
        <!-- 로고 + 제목 -->
        <div id="title-area">
            <a th:href="@{/}">
                <img src="/images/logo.png" alt="OneBoard">
            </a>
            <h2>비밀번호 찾기</h2>
        </div>

        <!-- 비밀번호찾기 폼 -->
        <form id="find-password-form" th:action="@{/find-password}" method="post">
            <div class="form-row">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="example@email.com" required>
                <button type="button" id="verify-email" class="check-btn">인증</button>
            </div>

            <!-- 인증번호 입력 (처음엔 숨김) -->
            <div class="form-row" id="verify-row" style="display:none;">
                <label for="verify-code">인증번호</label>
                <input type="text" id="verify-code" placeholder="인증번호 6자리">
                <button type="button" id="verify-confirm" class="check-btn">인증확인</button>
            </div>

            <div class="button">
                <button type="button"><a th:href="@{/login}">취소</a></button>
                <button type="submit" id="find-password-btn">비밀번호 찾기</button>
            </div>

        </form>

    </div>
</main>

</body>
</html>